* {
  margin: 0;
  padding: 0; }

body#index {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) no-repeat center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%; }

.container {
  width: 100%;
  height: 100%; }

@media screen and (min-width: 901px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.7); }
    nav ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: center; }
    nav li {
      margin: 0 4rem;
      padding-top: 0.6rem; }
    nav a {
      text-decoration: none;
      text-transform: uppercase;
      color: #f4f4f4; }
    nav a:hover {
      color: #4b9a95;
      transition: all 0.3s ease-out; }
    nav .homebutton {
      z-index: 5;
      position: fixed;
      transform: translate(50px, 7px); } }

@media screen and (max-width: 900px) {
  nav {
    height: auto;
    border-bottom: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #eee;
    z-index: 3; }
    nav ul {
      padding: 0;
      margin: 0;
      display: none;
      height: auto; }
    nav li {
      display: inline;
      width: 100%;
      float: left;
      position: relative; }
    nav a {
      display: inline-block;
      text-decoration: none;
      padding: 10px 0;
      color: #eee;
      text-decoration: none;
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: rgba(0, 0, 0, 0); }
    nav .homebutton {
      z-index: 5;
      position: fixed;
      transform: translate(-15px, -48px); }
    nav a:active {
      color: #4b9a95; }
    nav a:hover {
      color: none; }
    nav a#openup:after {
      content: "|||";
      transform: scale(1.7) rotate(-90deg);
      -ms-transform: scale(1.7) rotate(-90deg);
      /* IE 9 */
      -webkit-transform: scale(1.7) rotate(-90deg);
      /* Safari and Chrome */
      width: 35px;
      height: 35px;
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 25px; }
    nav a#openup {
      display: block;
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      height: 20px;
      position: relative; } }

.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
#home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px; }

#home h1 {
  font-weight: 400;
  font-size: 3rem; }

#home p {
  font-size: 1.3rem; }

.text-secondary {
  color: #4b9a95; }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("../img/websiteVid.png") no-repeat center center/cover; }

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media screen and (max-width: 900px) {
  .video-container video {
    transform: translate(-50%, -50%) scale(0.7); } }

.video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

.content {
  z-index: 10; }

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 20vh; }

#welcome h1 {
  font-size: 2rem; }

#welcome a {
  text-decoration: none;
  color: #4b9a95; }

#welcome a:hover {
  color: #95fff8;
  transition: all 0.3s ease-out; }

#welcome p {
  font-size: 1rem;
  width: 70vw; }

@media screen and (max-width: 900px) {
  #welcome .go-away {
    display: none; } }

body#contact {
  background: url(../img/pageDark.png) no-repeat center center/cover;
  color: #fff;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 7vh;
  height: 100%; }

#contact-page {
  /* FORM STYLES */ }
  #contact-page * {
    box-sizing: border-box; }
  #contact-page .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    padding: 1em; }
  #contact-page ul {
    list-style: none;
    padding: 0; }
  #contact-page .brand {
    text-align: center; }
  #contact-page .brand span {
    color: #fff; }
  #contact-page .wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7); }
  #contact-page .wrapper > * {
    padding: 1em; }
  #contact-page .company-info {
    background: #444; }
  #contact-page .company-info h3,
  #contact-page .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0; }
  #contact-page .contact {
    background: url(../img/pageLight.png) no-repeat center center/cover; }
  #contact-page .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
  #contact-page .contact form label {
    display: block; }
  #contact-page .contact form p {
    margin: 0; }
  #contact-page .contact form .full {
    grid-column: 1 / 3; }
  #contact-page .contact form button,
  #contact-page .contact form input,
  #contact-page .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #6e6e6e; }
  #contact-page .contact form button {
    color: #fff;
    background: #444;
    border: 0;
    text-transform: uppercase; }
  #contact-page .contact form button:hover,
  #contact-page .contact form button:focus {
    background: #616161;
    color: #fff;
    outline: 0;
    transition: background-color 0.5s ease-out; }
  #contact-page .alert {
    text-align: center;
    padding: 10px;
    background: #4b9a95;
    color: #fff;
    margin-bottom: 10px;
    display: none; }
  @media (min-width: 700px) {
    #contact-page .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr; }
    #contact-page .wrapper > * {
      padding: 2em; }
    #contact-page .company-info h3,
    #contact-page .company-info ul,
    #contact-page .brand {
      text-align: left; } }

body#work {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) no-repeat center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%;
  overflow-x: hidden; }

#work-page * {
  box-sizing: border-box; }

#work-page .container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  height: 100%;
  justify-content: center; }

#work-page #myWork {
  padding-top: 6vh; }

#work-page .wrapper {
  padding-top: 1vh;
  padding-left: 10vw;
  padding-right: 10vw; }
  #work-page .wrapper ul {
    list-style-type: none; }
  #work-page .wrapper h2 {
    transform: translate(1vw); }

#work-page #intro {
  text-align: center; }

@media screen and (max-width: 900px) {
  #work-page .go-away {
    display: none; } }

#work-page #videoParagraph {
  font-size: 18px; }

#work-page #video {
  overflow: hidden;
  padding-top: 50%;
  padding-left: 50%;
  position: relative;
  height: 0; }

#work-page #video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

body#film-calculators {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%; }

#film-calculators-page {
  max-width: 900px;
  margin: auto;
  margin-top: 70px;
  height: 100%;
  min-height: 100vh; }
  #film-calculators-page .calcWrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); }
    #film-calculators-page .calcWrapper img {
      width: 100%;
      border: 2px #fff solid; }
      #film-calculators-page .calcWrapper img:hover {
        opacity: 0.5;
        border-color: #4b9a95;
        transition: all 0.5s ease-out; }
      #film-calculators-page .calcWrapper img:active {
        opacity: 0.5;
        border-color: #4b9a95; }

@media screen and (max-width: 900px) {
  #film-calculators-page {
    margin-top: 50px;
    max-width: 300px; }
    #film-calculators-page .calcWrapper {
      grid-template-columns: repeat(1, 1fr); } }

body#calculatorOne {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%;
  padding-top: 1vh; }
  body#calculatorOne a#back {
    color: #eee;
    text-decoration: none;
    padding-left: 2vw;
    font-size: 18px; }
    body#calculatorOne a#back:hover {
      color: #4b9a95;
      transition: all 0.5s ease-out; }
    body#calculatorOne a#back:active {
      color: #4b9a95; }
  body#calculatorOne #calculatorOne-page {
    min-height: 100vh;
    height: 100%;
    padding-top: 30px; }
    body#calculatorOne #calculatorOne-page .error {
      color: #ff0000;
      text-align: center; }
    body#calculatorOne #calculatorOne-page h1 {
      text-align: center;
      padding-top: 20px; }
    body#calculatorOne #calculatorOne-page #instructions {
      text-align: center;
      padding-bottom: 10px; }
    body#calculatorOne #calculatorOne-page #calculate {
      width: 50%;
      margin-left: 25%;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 1em;
      border: 1px solid #6e6e6e;
      color: #fff;
      background: #444;
      border: 0; }
      body#calculatorOne #calculatorOne-page #calculate:hover {
        color: #4b9a95;
        opacity: 0.75;
        transition: all 0.5s ease-out; }
      body#calculatorOne #calculatorOne-page #calculate:active {
        color: #4b9a95;
        opacity: 0.75; }
    body#calculatorOne #calculatorOne-page #formWrapper {
      width: 80vw;
      max-width: 500px;
      margin: auto;
      height: 100%;
      background: url(../img/pageLight.png) center center/cover; }
      body#calculatorOne #calculatorOne-page #formWrapper form {
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-auto-rows: 90px;
        grid-gap: 20px;
        align-items: center;
        padding: 20px; }
        body#calculatorOne #calculatorOne-page #formWrapper form input {
          width: 98%;
          height: 35%;
          font-size: 20px;
          padding: 3px;
          color: #2c2c2c; }
        body#calculatorOne #calculatorOne-page #formWrapper form img {
          margin-top: 20px;
          width: 50px;
          opacity: 0.25; }
          body#calculatorOne #calculatorOne-page #formWrapper form img:hover {
            opacity: 0.75;
            transition: all 0.5s ease-out; }
          body#calculatorOne #calculatorOne-page #formWrapper form img:active {
            opacity: 1;
            outline: none; }
        body#calculatorOne #calculatorOne-page #formWrapper form .output {
          opacity: 1; }
          body#calculatorOne #calculatorOne-page #formWrapper form .output:hover {
            opacity: 1; }
          body#calculatorOne #calculatorOne-page #formWrapper form .output:active {
            opacity: 1; }

body#calculatorTwo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%;
  padding-top: 1vh; }
  body#calculatorTwo a#back {
    color: #eee;
    text-decoration: none;
    padding-left: 2vw;
    font-size: 18px; }
    body#calculatorTwo a#back:hover {
      color: #4b9a95;
      transition: all 0.5s ease-out; }
    body#calculatorTwo a#back:active {
      color: #4b9a95; }
  body#calculatorTwo h1 {
    margin-top: 15px;
    text-align: center; }
  body#calculatorTwo #calculatorTwo-page {
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-rows: 200px 100px;
    height: 100%;
    min-height: 100vh;
    justify-items: center;
    align-items: center; }
    body#calculatorTwo #calculatorTwo-page div.container {
      background: url(../img/pageLight.png) center center/cover;
      display: grid;
      grid-auto-rows: 1fr 1fr;
      justify-items: center;
      align-items: center; }
      body#calculatorTwo #calculatorTwo-page div.container div.field {
        padding-bottom: 20px;
        padding-top: 10px; }
        body#calculatorTwo #calculatorTwo-page div.container div.field input {
          width: 100%;
          height: 35%;
          font-size: 20px;
          padding: 3px;
          color: #2c2c2c; }
    body#calculatorTwo #calculatorTwo-page div.filler img {
      width: 25%;
      padding-left: 90px;
      padding-top: 8px; }
      body#calculatorTwo #calculatorTwo-page div.filler img:hover {
        opacity: 0.5;
        transition: all 0.5s ease-out; }
      body#calculatorTwo #calculatorTwo-page div.filler img:active {
        opacity: 0.5; }

body#calculatorThree {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%;
  padding-top: 1vh; }
  body#calculatorThree a#back {
    color: #eee;
    text-decoration: none;
    padding-left: 2vw;
    font-size: 18px; }
    body#calculatorThree a#back:hover {
      color: #4b9a95;
      transition: all 0.5s ease-out; }
    body#calculatorThree a#back:active {
      color: #4b9a95; }

#calculatorThree-page {
  max-width: 900px;
  margin: auto;
  height: 100%;
  min-height: 100vh; }

body#about {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url(../img/pageDark.png) no-repeat center center/cover;
  color: #fff;
  line-height: 1.6;
  height: 100%;
  overflow-x: hidden; }

#about-page * {
  box-sizing: border-box; }

#about-page .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  height: 100vh;
  justify-content: center; }

#about-page #aboutMe {
  padding-top: 6vh;
  padding-bottom: 6vh; }
  #about-page #aboutMe h1 {
    padding-bottom: 3vh; }

#about-page .wrapper {
  padding-top: 1vh; }
  #about-page .wrapper ul {
    list-style-type: none; }
  #about-page .wrapper h2 {
    transform: translate(1vw); }

#about-page #intro {
  text-align: center; }

#about-page #image {
  overflow: hidden;
  padding-top: 67%;
  padding-left: 50%;
  position: relative;
  height: 0; }

#about-page #image img {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

#about-page #bottomSpace {
  padding-top: 30px;
  text-align: center;
  display: none; }
  #about-page #bottomSpace a {
    text-decoration: none;
    color: #4b9a95; }
  #about-page #bottomSpace a:hover {
    color: #fff;
    transition: all 0.3s ease-out; }

#current {
  color: #4b9a95; }

footer {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  padding-bottom: 0.7vh;
  margin-top: 40px; }
